* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  padding: 20px;
}
.messagebox {
  display: flex;
  height: 300px;
  width: 800px;
  overflow: hidden;

  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 800;
  background-color: white;
  border: 1px solid rgb(149, 80, 219);
  color: black;
  border-radius: 20px;
  box-shadow: 10px 5px 15px rgb(54, 30, 78);
  padding: 20px;
}
#generate-btn {
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.3s ease;
  background-color: #f22fda;
  border-radius: 10px;
  font-size: medium;
  color: black;
  font-weight: 700;
}
#generate-btn:hover {
  transform: translateY(-5px);
  background-color: rgb(149, 80, 219);
  color: white;
  box-shadow: 10px 8px 12px #f22fda;
}
ol {
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: large;
  font-weight: 600;
  color: rgb(80, 77, 77);
}
li {
  border: 1px solid rgb(142, 141, 141);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
li:hover {
  background-color: rgb(95, 93, 93);
  transform: translateY(-3px);
  color: white;
}
